{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<form action="add/" method="post">
{% csrf_token %}
<input type="submit" value="Add new question." />
</form>

<a href="myview">myview test</a>
<a href="viewimg">viewimg test</a>
<a href="list">list test</a>
<a href="layout">layout test</a>

<b>HTML layout examples</b><br>
<a href="http://www.w3schools.com/html/html_tables.asp">http://www.w3schools.com/html/html_tables.asp</a><br>