{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<form action="add/" method="post">
{% csrf_token %}
<input type="submit" value="Add new question." />
</form>

<p><b>my page urls</b></p>
<p><a href="myview">myview test</a></p>
<p><a href="viewimg">viewimg test</a></p>
<p><a href="list">list test</a></p>
<p><a href="layout">layout test</a></p>
<br>
<p><b>12 Professional CSS Buttons</b></p>
<p><a href="http://www.graemeboy.com/css-buttons">http://www.graemeboy.com/css-buttons</a></p>
<br>
<p><b>HTML layout examples</b></p>
<p><a href="http://www.w3schools.com/html/html_tables.asp">http://www.w3schools.com/html/html_tables.asp</a></p>
<br>
<p><b>50+ BEAUTIFUL CSS3 BUTTONS WITH EFFECTS & TUTORIALS</b></p>
<p><a href="https://www.freshdesignweb.com/css3-buttons/">https://www.freshdesignweb.com/css3-buttons</a></p>
<br>
<p><b>BEAUTIFUL CSS3 TUTORIALS</b></p>
<p><a href="http://cssdeck.com/">http://cssdeck.com/</a></p>

